<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.pagination.mapper.PaginationMapper">
    <select id="gallerycount" resultType="int">
        SELECT COUNT(*)
        FROM PHOTO.gallary g
    </select>

    <select id = "indexPagination" resultType="com.example.pagination.meta.ItemVo">
        SELECT *
        FROM item
        ORDER BY sequence DESC
            LIMIT ${skip}, ${take}
        ;
    </select>

    <select id = "cursorPagination" resultType="com.example.pagination.meta.ItemVo">
        <![CDATA[
        SELECT vin
        FROM item
        WHERE sequence < ${cursor}
        ORDER BY sequence DESC
            LIMIT ${take}
        ;
        ]]>
    </select>
</mapper>