<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.pagination.mapper.PaginationMapper">
    <resultMap type="project.pagination.dao.Gallary"
      id="GalleryInfo" >
        <result property="idx" column="idx"/>
        <result property="gallaryTime" column="gallary_time"/>
        <result property="gallaryId" column="gallary_id"/>
        <result property="gallarySubscribeCount" column="gallary_subscibe_count"/>
        <result property="gallarySeseon" column="gallary_seseon"/>
        <result property="gallaryName" column="gallary_name"/>
        <result property="gallaryImageLocation" column="gallary_image_location"/>
        <result property="gallaryDireaction" column="gallary_direaction"/>
        <result property="gallaryAdress" column="gallary_adress"/>
    </resultMap>

    <select id="gallerycount" resultType="int">
        SELECT COUNT(*)
        FROM PHOTO.gallary g
    </select>

    <select id = "indexPagination" resultType="project.pagination.dao.Gallary">
        SELECT *
        FROM PHOTO.gallary
        ORDER BY sequence DESC
            LIMIT ${skip}, ${take}
        ;
    </select>

    <select id = "cursorPagination" resultMap="GalleryInfo">
        <![CDATA[
        SELECT *
        FROM photo.gallary
        WHERE gallary_id < ${cursor}
        ORDER BY gallary_id DESC
            LIMIT ${take}
        ;
        ]]>
    </select>
</mapper>